.album
  = album.name
  = album.artist.name
  = link_to 'Show', album
  = link_to 'Edit', edit_album_path(album)
  = link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }
